extends layout

block content
  h2.ps-4.ms-2= title
  hr

  ul.list-group.w-50.ps-4.ms-2
    each genre in genre_list
      //- li.list-group-item.list-group-item-action
      a.list-group-item.list-group-item-action.text-dark(href=genre.url) #{genre.name}

    else
      li There are no genres.