//- doctype html
//- html.h-100(lang='pt-BR')
//-   head
//-     title= title
//-     meta(charset='utf-8')
//-     meta(name='viewport', content='width=device-width, initial-scale=1')
//-     link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous")
//-     script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js", integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj", crossorigin="anonymous")
//-     script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous")
//-     link(rel='stylesheet', href='/stylesheets/style.css')
//-   body.h-100.bg-light
//-     div.container-fluid.h-100
//-       div.d-flex.a-container.h-100
//-         div.d-flex.flex-column.flex-shrink-0.p-3.text-dark
//-           block sidebar
//-             a.d-flex.align-items-center.mb-3.mb-md-0.me-md-auto.text-dark.text-decoration-none(href="/")
//-               span.fs-4 Local Library
//-             hr
//-             ul.nav.nav-pills.flex-column.mb-auto
//-               li.nav-item
//-                 a.nav-link.active(href="/catalog" aria-current="page")
//-                   span.fs-6 Home
//-               li
//-                 a.nav-link.text-dark(href='/catalog/books')
//-                   span.fs-6 All Books
//-               li.nav-item
//-                 a.nav-link.text-dark(href="/catalog/authors" aria-current="page")
//-                   span.fs-6 All Authors
//-               li
//-                 a.nav-link.text-dark(href='/catalog/genres')
//-                   span.fs-6 All Genres
//-               li
//-                 a.nav-link.text-dark(href='/catalog/bookinstances')
//-                   span.fs-6 All Books-Instances

//-               hr

//-               li
//-                 a.nav-link.text-dark(href='/catalog/author/create')
//-                   span.fs-6 Create new Author
//-               li.nav-item
//-                 a.nav-link.text-dark(href='/catalog/genre/create' aria-current="page")
//-                   span.fs-6 Create new Genre
//-               li
//-                 a.nav-link.text-dark(href='/catalog/book/create')
//-                   span.fs-6 Create new Book
//-               li
//-                 a.nav-link.text-dark(href='/catalog/bookinstance/create')
//-                   span.fs-6 Create new Book Instance (copy)
//-               hr

//-         div.b-example-divider

//-         div.flex-grow-1.p-4
//-           block content




doctype html
html.h-100(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous")
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous")
    //- script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js", integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj", crossorigin="anonymous")
    //- script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')

  body.bg-light.h-100
    div.container-fluid.h-100
      div.row.h-100
        div.col-md-4.d-flex
          div.d-flex.flex-column.flex-grow-1.p-3.text-dark
            a.d-flex.align-items-center.mb-3.mb-md-0.me-md-auto.text-dark.text-decoration-none(href="/")
              span.fs-3 Local Library
            hr
            ul.nav.nav-pills.flex-column.mb-auto
              li.nav-item
                a.nav-link.active.d-flex.gap-2(href="/catalog" aria-current="page")
                  i.fas.fa-home.fs-5(style="width:24px;height:24px;")
                  p.m-0.fs-6 Home
              li
                a.nav-link.text-dark.d-flex.gap-2(href='/catalog/books')
                  i.fas.fa-book.fs-5(style="width:24px;height:24px;")
                  p.m-0.fs-6 All Books
              li.nav-item
                a.nav-link.text-dark.d-flex.gap-2(href="/catalog/authors" aria-current="page")
                  i.fas.fa-users.fs-5(style="width:24px;height:24px;")
                  p.m-0.fs-6 All Authors
              li
                a.nav-link.text-dark.d-flex.gap-2(href='/catalog/genres')
                  i.bi.bi-chat-right-quote-fill.fs-5(style="width:24px;height:24px;")
                  p.m-0.fs-6 All Genres
              li
                a.nav-link.text-dark.d-flex.gap-2(href='/catalog/bookinstances')
                  i.fas.fa-copy.fs-5(style="width:24px;height:24px;")
                  p.m-0.fs-6 All Books-Instances

              hr

              li
                a.nav-link.text-dark.d-flex.gap-2(href='/catalog/book/create')
                  i.fas.fa-book-medical.fs-5(style="width:24px;height:24px;")
                  p.m-0.fs-6 Create new Book
              li
                a.nav-link.text-dark.d-flex.gap-2(href='/catalog/author/create')
                  i.fas.fa-user-plus.fs-5(style="width:24px;height:24px;")
                  p.m-0.fs-6 Create new Author
              li.nav-item
                a.nav-link.text-dark.d-flex.gap-2(href='/catalog/genre/create' aria-current="page")
                  i.bi.bi-file-earmark-plus-fill.fs-5(style="width:24px;height:24px;")
                  p.m-0.fs-6 Create new Genre
              li
                a.nav-link.text-dark.d-flex.gap-2(href='/catalog/bookinstance/create')
                  i.bi.bi-bookmark-plus-fill.fs-5(style="width:24px;height:24px;")
                  p.m-0.fs-6 Create new Book Instance
              hr
                
          div.b-example-divider

        div.flex-grow-1.p-3.col-md-8
          block content